.intro__column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
  line-height: 28px;
  padding-right: 40px;
}
