extends ../layout.jade

block content
  header.header
    .header__content
      .header__column.header__column_side_left
        .logo
          i.fa.fa-frown-o.logo__icon
          .logo__text Одинокие твиты
      .header__column.header__column_side_right
        .intro
          .intro__column
            p.intro__text Интернет дал нам возможность общаться без рамок и границ, находить новых друзей в любой точке планеты. Мы можем делиться нашими мыслями, чувствами, переживаниями.
            p.intro__text Но слышат ли нас, а самое главное - хотят ли услышать ?
          .intro__column
            p.intro__text Одинокие твиты - твиты людей, которые содержат слова "одинокий", "я одинок", "одиночество" и другие похожие варианты.
            p.intro__text В качестве фона для каждого твита используется  изображение шапки пользователя.
  .notification
  main.content
    // Твиты рендерятся здесь
